{% extends 'base.html' %}
{% block title %}Edit a post{% endblock %}
{% block content %}
<h1>Edit Post</h1>
<form action="/posts/{{post.id}}/edit" method="POST">
    <div class="mb-3">
        <label for="ptitle" class="form-label fw-semibold fs-5">Title</label>
        <input class="form-control" type="text" id="ptitle" name="ptitle" placeholder="Enter a title for the post" value="{{post.title}}" required>
    </div>
    <div class="mb-3">
        <label for="pcontent" class="form-label fw-semibold fs-5">Content</label>
        <textarea class="form-control" id="pcontent" name="pcontent" placeholder="Enter details of your post" rows="10" cols="100">{{post.content}}</textarea>
    </div>
    <button class="btn btn-outline-success" type="submit" formaction="/users/{{post.user.id}}" formmethod="GET">Cancel</button>
    <button class="btn btn-success" type="submit">Edit</button>
</form>
{% endblock %}