{% extends 'base.html' %}
{% block title %}Edit a tag{% endblock %}
{% block content %}
<h1 class="text-center">Edit a tag</h1>
<div class="row justify-content-center">
    <div class="col-md-5">
        <form action="/tags/{{tag.id}}/edit" method="POST">
            <div class="mb-3">
                <label for="tname" class="form-label fw-semibold fs-5">Name</label>
                <input class="form-control" type="text" id="tname" name="tname" placeholder="Enter a name for the tag" value="{{tag.name}}" required>
            </div>
            {% for post in posts %}
            <div>
                {% if post in tag.posts%}
                    <input type="checkbox" id="post-{{post.id}}" name="posts" value="{{post.id}}" checked>
                {% else %}
                    <input type="checkbox" id="post-{{post.id}}" name="posts" value="{{post.id}}">
                {% endif%}
                <label class="fw-semibold fs-5" for="post-{{post.id}}">{{post.title}}</label>
            </div>
            {% endfor %}
            <button class="btn btn-outline-success" type="submit" formaction="/tags" formmethod="GET">Cancel</button>
            <button class="btn btn-success" type="submit">Edit</button>
        </form>
    </div>
</div>
{% endblock %}