{% extends 'base.html' %}
{% block title %}{{user.full_name}}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-3">
        <img src="{{user.image_url}}" alt="User image" width="200" height="250">
    </div>
    <div class="col-6">
        <h1>{{user.full_name}}</h1>
        <form action="/users/{{user.id}}/edit">
            <button type="submit" class="btn btn-primary">Edit</button>
            <button type="submit" class="btn btn-danger" formaction="/users/{{user.id}}/delete" formmethod="POST">Delete</button>
        </form>
        <div class="mt-3">
            <h2>Posts</h2>
            <ul>
                {% if user.posts %}
                    {% for post in user.posts %}
                    <li><a href="/posts/{{post.id}}">{{post.title}}</a> {{post.formatted_date}}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <form action="/users/{{user.id}}/posts/new">
            <button class="btn btn-primary" type="submit">Add Post</button>
        </form>
    </div>
</div>
{% endblock %}